body {
    /* stil */
    background-color: white;
    
    color: tomato;
    clear: left;
    margin-left: 20px;
    float: left;    
}
h1{
    border-style: groove; border-color: white; border-radius: 100px; border-width: 1px; 
}
ul{
    border-style:solid;
    border-color: violet;
}
div{
    float: left;
    clear: left;
    border-style: dotted;
    border-color: yellowgreen;
}