rect.ramme{
    stroke: black;
    stroke-width: 2px;
    fill: rgb(235, 185, 123);
}
circle.kropp{
    stroke: black;
    stroke-width: 0,3px;
    fill: whitesmoke;
}
circle.hode {
    stroke: black;
    stroke-width: 0,3px;
    fill: whitesmoke;
}
circle.øye{
    
    fill: black;
}
ellipse.munn{
    fill: black;
}
circle.knapp{
    fill:black
}
polygon.gulrot{
    fill: orange;
}
path.hatt{
    stroke:black;
    stroke-width: 0,3px;
    fill: pink;
}
line.kosteskaft{
    stroke: brown;
    stroke-width: 1,1px;
}