body {
    background-color: black;
}

.buttons {
    font-family: monospace;
    width: 70px;
    font-size: 20px;
    background-color: rgb(109, 109, 109);
    border: none;
    color: rgb(161, 161, 161);
    padding: 20px;
    border: solid;
    border-color: black;
}

.button1 {
    font-family: monospace;
    width: 70px;
    font-size: 20px;
    background-color: rgb(185, 17, 17);
    border: none;
    color: rgb(235, 69, 69);
    padding: 20px;
    border: solid;
    border-color: rgb(109, 16, 16);
}

.button2 {
    font-family: monospace;
    width: 70px;
    font-size: 20px;
    background-color: rgb(55, 90, 39);
    border: none;
    color: rgb(161, 161, 161);
    padding: 20px;
    border: solid;
    border-color: black;
}

.button3 {
    font-family: monospace;
    width: 70px;
    font-size: 20px;
    background-color: rgb(206, 72, 32);
    border: none;
    color: rgb(161, 161, 161);
    padding: 20px;
    border: solid;
    border-color: black;
}